* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: #ffffff56;
    --background-color: #FFFFFF;
    --surface-color: #f5f5f5;
    --skeleton-color: #d9d9d9;
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;

    --font-family: "Poppins", sans-serif;
    --text: 16px/1.5 var(--font-family);
    /*tamanho da fonte (32px) e o line height(125%) e o peso da fonte (bold) */
    --text-lg: bold 32px/125% var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

body {
    font: var(--text-lg);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

